name: Release

on:
  push:
    branches:
      - main
      - next

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          registry-url: 'https://npm.pkg.github.com'
          # Defaults to the user or organization that owns the workflow file
          scope: '@pbrtrd'
      - run: cd frontend && npm ci
      - run: cd frontend && npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - run: cd frontend && npm run build
      # - run: cd frontend && npm audit signatures
      # - name: Release
      #   env:
      #     GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      #     NPM_TOKEN: ${{secrets.NPM_TOKEN}}
      #   run: cd frontend && npx semantic-release
